{% extends "base.html" %}

{% block title %}Create Activity{% endblock %}

{% block content %}
    <p>Creating activity worked!</p>
    <form action="{% url 'activity:add_activity' %}" method="post" novalidate>
        {% csrf_token %}

        <p>
        <label for="id_name">Name:</label>
        <input id="id_name" maxlength="30" name="name" type="text" required="">
        </p>

        <label for="id_description">Description:</label>
        <input id="id_description" maxlength="30" name="description" type="text">

        <p>
            <label for="id_requirements">Requirements:</label>
            <textarea cols="40" id="id_requirements" name="requirements" rows="10" required=""></textarea>
        </p>

        <p>
            <label for="id_participants_limit">Participants limit:</label>
            <input id="id_participants_limit" name="participants_limit" type="text" required="">
        </p>

        <p>
            <label class="required" for="id_activity_category">Activity category:</label>
            <select id="id_activity_category" name="activity_category" required="">
                {% for category in activity_categories %}
                    <option value="{{ category.id }}" >{{ category.name }}</option>
                {% endfor %}
            </select>
        </p>

        <p>
            <label class="required" for="id_activity_type">Activity type:</label>
            <select id="id_activity_type" name="activity_type" required="">
                {% for type in activity_types %}
                    <option value="{{ type.id }}" >{{ type.name }}</option>
                {% endfor %}
            </select>
        </p>

        <input type="submit" value="Create" />

    </form>
{% endblock %}