{% extends 'base.html' %}
{% load leaflet_tags %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block content %}


    <section class="home-section nopadd-bot color-dark text-center">

        <div class="container marginbot-20 formCreate">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="animatedParent">
                        <div class="section-heading text-center">
                            <h2 class="h-bold animated bounceInDown">{{ activity_form.title }}</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div>Save your time! Create a new activity based on your previous ones!</div>

        <div class="container">
            <div class="row marginbot-80">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <div class="row marginbot-30">
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-skin dropdown-toggle" data-toggle="dropdown">
                                        Choose activity...
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pre-scrollable" role="menu">
                                        {% for activity in activities %}
                                            <li>
                                                <a href="{% url 'activity:activity_create' activity.id %}">{{ activity.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <form class="form-horizontal" action="" method="POST">
                        {% csrf_token %}
                        {% for error in activity_form.non_field_errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">{{ activity_form.name }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">{{ activity_form.description }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">{{ activity_form.requirements }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="{{ activity_form.start_time.id_for_label }}"
                                           class="col-md-2 control-label">From:</label>
                                    <div class="col-md-10">{{ activity_form.start_time }}</div>
                                </div>
                                <div class="col-md-6">
                                    <label for="{{ activity_form.end_time.id_for_label }}"
                                           class="col-md-2 control-label">To:</label>
                                    <div class="col-md-10">{{ activity_form.end_time }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">{{ activity_form.participants_limit }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">{{ activity_form.locations }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="{{ activity_form.activity_category.id_for_label }}"
                                           class="col-md-4 control-label">Category:</label>
                                    <div class="col-md-8">{{ activity_form.activity_category }}</div>
                                </div>
                                <div class="col-md-6">
                                    <label for="{{ activity_form.activity_type.id_for_label }}"
                                           class="col-md-4 control-label">Type:</label>
                                    <div class="col-md-8">{{ activity_form.activity_type }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% leaflet_map "activity_map" %}
                        </div>
                        <input type="submit" value="Create" class="btn btn-skin btn-lg btn-block"/>
                    </form>

                </div>
            </div>
        </div>

        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="animatedParent">
                        <div id="div_time_reccomendation" class="section-heading text-center">
                        </div>
                        <div id="div_activities_reccomendation" class="section-heading text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        $(window).on('map:init', function (e) {
            var detail = e.originalEvent ? e.originalEvent.detail : e.detail;
            var map = L;
        });

        function minutesToTimeString(minutes) {
            return (minutes / 60).toFixed(0) + ":" + (minutes % 60).toFixed(0);
        }

        function getTimeReccomendation(fromTime, toTime) {
            return "<h5>Time recommendations</h5><p>This type of activity usually takes place between " + fromTime + " and " + toTime + "</p>"
        }

        function extractDate(value) {
            return value.split("T")[0];
        }

        function extractTime(value) {
            return value.split("T")[1].split(".")[0];
        }

        function getActivitiesReccomendation(activities) {
            var result = "<h5>Similar activities</h5>";
            activities.forEach(function (item, i, activities) {
                result += "<div class=\"row\">";
                result += "<p>" + item[1] + " - " + extractDate(item[2]) + " - " + extractTime(item[2]) + "</p>";
                result += '<button type="button" class="btn btn-skin"' +
                        'onclick="$.ajax(/activity/join?user_id={{ user.id }}&activity_id=' + item[0] + ')' +
                        '.done(function() { location.reload() })">' +
                        'Join' +
                        '</button>';
                result += "</div>";
            });
            return result;
        }

        function clearRecommendations() {
            document.getElementById("div_time_reccomendation").innerHTML = "";
            document.getElementById("div_activities_reccomendation").innerHTML = "";
        }

        function recommendationsRequest() {

            var type = $('#create_form_activity_type').val();

            if (type == '') {
                setTimeout(recommendationsRequest, 5000);
                return;
            }

            $.ajax({
                url: "{% url 'activity:recommendations' %}" + '?' + 'type=' + type,
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                async: false,
                success: recommendationsResponse,
                error: clearRecommendations,
            })
                    .always(function () {
                        setTimeout(recommendationsRequest, 5000);
                    });
        }

        function recommendationsResponse(response) {
            var timeRecEl = document.getElementById("div_time_reccomendation");
            var actRecEl = document.getElementById("div_activities_reccomendation");

            if (response.times.length > 0) {
                var times = response.times.split("_");
                var fromTime = parseFloat(minutesToTimeString(times[0]));
                var toTime = parseFloat(minutesToTimeString(times[1]));
                timeRecEl.innerHTML = getTimeReccomendation(fromTime, toTime);
            }
            else {
                timeRecEl.innerHTML = ""
            }

            if (response.activities.count == 0) {
                actRecEl.innerHTML = "";
            }
            else {
                actRecEl.innerHTML = getActivitiesReccomendation(response.activities);
            }

        }
    </script>

    <script type="text/javascript">
        (function () {
            recommendationsRequest();
        })();
    </script>

{% endblock %}
