{% extends "base.html" %}
{% load leaflet_tags %}

{% block title %}{{ activity.name }}{% endblock %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block content %}
    <section class="home-section nopadd-bot color-dark text-center">

        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="animatedParent">
                        <div class="section-heading text-center">
                            <h2 class="h-bold animated bounceInDown">{{ activity.name }}</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row marginbot-80">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel-group">
                        <div class="row">
                            <div class="panel panel-success">
                                <div class="panel-heading">Description</div>
                                <div class="panel-body">{{ activity.description }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">From</div>
                                    <div class="panel-body">{{ activity.start_time }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">To</div>
                                    <div class="panel-body">{{ activity.end_time }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-danger">
                                <div class="panel-heading">Requirements</div>
                                <div class="panel-body">{{ activity.requirements }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-success">
                                    <div class="panel-heading">Organizer</div>
                                    <div class="panel-body">{{ activity.organizer.first_name }} {{ activity.organizer.last_name }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-6">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">Participants limit</div>
                                        <div class="panel-body">{{ activity.participants_limit }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row map">
                            {% leaflet_map "activity_map" %}
                        </div>
                    </div>
                    <a href="{% url 'activity:index' %}" class="btn btn-skin">Back to main page</a>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // -------------------------------------------------------
        // LeafletJS Map Functions
        // -------------------------------------------------------
        var layers = {};
        // adds marker and its description (if any) to the specified map
        function addMarker(map, loc) {
            var marker = L.marker([loc.latitude, loc.longitude]);
            // add a marker to the map
            layers.addLayer(marker);
            // add popup for the marker if it has any name
            if (loc.name) {
                var popup = L.popup()
                        .setLatLng([loc.latitude, loc.longitude])
                        .setContent(loc.name);
                marker.bindPopup(popup);
            }
        }

        $(window).on('map:init', function (e) {
            var detail = e.originalEvent ? e.originalEvent.detail : e.detail;
            var map = L;
            $.ajax('/activity/' + {{ activity.id }} +'/locations/')
                    .done(function (locs) {
                        if (locs.length == 0)
                            return;
                        loc = locs[0].location;
                        var south = 90, north = -90, east = -180, west = 180;
                        for (i = 0; i < locs.length; ++i) {
                            loc = locs[i].location;
                            var marker = map.marker([loc.latitude, loc.longitude]).addTo(detail.map);
                            var popup = L.popup()
                                    .setLatLng([loc.latitude, loc.longitude])
                                    .setContent(loc.name);
                            marker.bindPopup(popup);
                            if (south > loc.latitude)
                                south = loc.latitude;
                            if (north < loc.latitude)
                                north = loc.latitude;
                            if (east < loc.longitude)
                                east = loc.longitude;
                            if (west > loc.longitude)
                                west = loc.longitude;
                        }
                        var southWest = map.latLng(south, west);
                        var northEast = map.latLng(north, east);
                        detail.map.fitBounds(map.latLngBounds(southWest, northEast));
                    });
        });
    </script>
{% endblock %}
