{% extends "base.html" %}
{% load leaflet_tags %}

{% block title %}{{ activity.name }}{% endblock %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block content %}
    <section class="home-section nopadd-bot color-dark text-center">

        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="animatedParent">
                        <div class="section-heading text-center">
                            <h2 class="h-bold animated bounceInDown">{{ activity.name }}</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row marginbot-80">
                <div class="col-md-6">
                    <div class="section-heading text-center">
                        <h2 class="h-bold"> Activity description:</h2>
                        <div class="divider-header"></div>
                    </div>
                    <div class="row">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                Description
                            </div>
                            <!-- List group -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                                Organizer:
                                    </div> 
                                    <div class="col-xs-6">
                                        {{ activity.organizer.first_name }} {{ activity.organizer.last_name }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        Requirements:
                                    </div> 
                                    <div class="col-xs-6">
                                       {{ activity.requirements }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 ">
                                        Participants limit:
                                    </div> 
                                    <div class="col-xs-6">
                                        {{ activity.participants_limit }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                       Start:
                                    </div> 
                                    <div class="col-xs-6">
                                       {{ activity.start_time }}
                                    </div>
                                   <div class="col-xs-6">
                                        End:
                                    </div> 
                                    <div class="col-xs-6">
                                       {{ activity.end_time }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row map">
                        {% leaflet_map "activity_map" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-heading text-center">
                        <h2 class="h-bold"> Activity Feed:</h2>
                        <div class="divider-header"></div>
                    </div>
                    <div class="well well-sm pre-scrollable">
                        <div class="row marginbot-80">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="col-md-12">
                                    <div class="row marginbot-30">
                                        <div class="btn-group">
                                            {% if comments != 0 %}
                                                {% for com in comments %}
                                                    <div class="row">
                                                        <div class="panel panel-success">
                                                            <div class="panel-heading">{{com.user.first_name}} {{ com.user.last_name}} {{com.time}}</div>
                                                            <div class="panel-body">{{com.message}}</div>
                                                        <!-- <div class="panel-footer">{{com.time}}</div> -->
                                                        </div>
                                                    </div>
                                                {% endfor %}                                   
                                            {% endif %}

                                        <div>Write your own comment here!</div>
                                            <form class="form-horizontal" action="" method="POST" name = "comments">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="form-group">
                                                       <div class="col-md-12">
                                                            <!-- {{activity_form.message}} -->
                                                          <input type="text" name="UserMessage" id = "userMsg">
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="submit" name="submitAction" id = "submitMsg" value = "Send" class="btn btn-skin btn-lg btn-block">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(window).on('map:init', function (e) {
            var detail = e.originalEvent ? e.originalEvent.detail : e.detail;
            var map = L;
            $.ajax('/activity/' + {{ activity.id }} +'/locations/')
                    .done(function (locs) {
                        if (locs.length == 0)
                            return;
                        loc = locs[0].location;
                        var south = loc.latitude, north = loc.latitude, east = loc.longitude, west = loc.longitude;
                        map.marker([loc.latitude, loc.longitude]).addTo(detail.map);
                        for (i = 1; i < locs.length; ++i) {
                            loc = locs[i].location;
                            map.marker([loc.latitude, loc.longitude]).addTo(detail.map);
                            if (south > loc.latitude)
                                south = loc.latitude;
                            if (north < loc.latitude)
                                north = loc.latitude;
                            if (east < loc.longitude)
                                east = loc.longitude;
                            if (west > loc.longitude)
                                west = loc.longitude;
                        }
                        var southWest = map.latLng(south, west);
                        var northEast = map.latLng(north, east);
                        detail.map.fitBounds(map.latLngBounds(southWest, northEast));
                    });
        });
    </script>
{% endblock %}
