{% extends "base.html" %}
{% load leaflet_tags %}

{% block title %}{{ activity.name }}{% endblock %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
        body {
            background: #f9f9f9;
        }

        .member:hover {
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            margin-top: -0.5em;
        }

        .member-footer {
            min-height: 1em;
            padding-bottom: 0.5em;
            color: #000;
        }

        .member-footer > a, .member-footer > a:hover {
            color: #000;
        }

        .member-content {
            min-height: 5em;
            padding: 0.5em;
            padding-top: 0.7em;
        }

        .member-loader {
            box-sizing: border-box;
            padding-top: 2em;
            min-height: 3.4em;
        }

        .message-box-left:after, .message-box-right:after {
            content: "";
            position: absolute;
            top: -15px;
            border-width: 0 15px 15px;
            border-style: solid;
            border-color: #fff transparent;
            display: block;
            width: 0;

        }

        .message-box-left:after {
            left: 20px;
        }

        .message-box-right:after {
            right: 20px;
        }

        .inline-header {
            clear: both;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
        }

        .activity-rating {
            display: inline-block;
            font-size: 0.7em;
            max-height: 2.6em;
        }

        .card-rating {
            margin-left: 1em;
        }

        .clickable, .clickable:hover {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block header %}
    <section class="color-dark activity-map">
        <div class="container-fluid">
            <div class="row">
                {% leaflet_map "activity_map" %}
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <section class="color-dark activity-info ">
        <div class="container marker">
            <div class="row vert-offset-top-3 ">
                <div class="col-md-10 col-md-offset-1">

                    <div class="card bg-white padding-2 shadow-1">
                        <div class="row section-heading">
                            <div class="col-md-12">
                                <h5 class="no-margin inline-header">{{ activity.name }}</h5>

                                {% if request.user != activity.organizer %}
                                    {% for participant in participants %}

                                        {% if participant.user.id == request.user.id %}
                                            <form class="rating-container activity-rating clearfix">
                                                <fieldset class="rating">
                                                    <input type="radio" id="star5_{{ activity.id }}"
                                                           name="rating" value="5"
                                                            {% if participant.rating == 5 %}
                                                           checked {% endif %}/>
                                                    <label class="full" for="star5_{{ activity.id }}"
                                                           data-star="5"
                                                           data-participant="{{ participant.user.id }}"
                                                           title="Awesome - 5 stars"></label>

                                                    <input type="radio" id="star4_{{ activity.id }}"
                                                           name="rating" value="4"
                                                            {% if participant.rating == 4 %}
                                                           checked {% endif %}/>
                                                    <label class="full" for="star4_{{ activity.id }}"
                                                           data-star="4"
                                                           data-participant="{{ participant.user.id }}"
                                                           title="Pretty good - 4 stars"></label>

                                                    <input type="radio" id="star3_{{ activity.id }}"
                                                           name="rating" value="3"
                                                            {% if participant.rating == 3 %}
                                                           checked {% endif %}/>
                                                    <label class="full" for="star3_{{ activity.id }}"
                                                           data-star="3"
                                                           data-participant="{{ participant.user.id }}"
                                                           title="Meh - 3 stars"></label>

                                                    <input type="radio" id="star2_{{ activity.id }}"
                                                           name="rating" value="2"
                                                            {% if participant.rating == 2 %}
                                                           checked {% endif %}/>
                                                    <label class="full" for="star2_{{ activity.id }}"
                                                           data-star="2"
                                                           data-participant="{{ participant.user.id }}"
                                                           title="Kinda bad - 2 stars"></label>

                                                    <input type="radio" id="star1_{{ activity.id }}"
                                                           name="rating" value="1"
                                                            {% if participant.rating == 1 %}
                                                           checked {% endif %}/>
                                                    <label class="full" for="star1_{{ activity.id }}"
                                                           data-star="1"
                                                           data-participant="{{ participant.user.id }}"
                                                           title="Sucks big time - 1 star"></label>
                                                </fieldset>
                                            </form>

                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'activity:search' %}?distance=1&search=&t=ac&v={{ activity.activity_category_id }}&lat=&lng="
                                   class="grey-text">{{ activity.activity_category }}</a>
                                <i class="grey-text fa fa-angle-right" aria-hidden="true"></i>
                                <a href="{% url 'activity:search' %}?distance=1&search=&t=at&v={{ activity.activity_type_id }}&lat=&lng="
                                   class="grey-text">{{ activity.activity_type }}</a>
                            </div>
                        </div>
                        <div class="row vert-offset-bottom-2">
                            <div class="col-md-12">
                                Created by <a href="">{{ activity.organizer }}</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>{{ activity.description }}</p>

                            </div>
                        </div>

                        {% if request.user != activity.organizer %}
                            <div class="row">
                                {% for participant in participants %}
                                    {% if participant.user.id == request.user.id %}
                                        {% if participant.comment|default:'' == '' %}
                                            <div class="form-group">
                                    <textarea class="form-control" rows="3"
                                              id="activity-comment"></textarea>
                                            </div>
                                            <button class="btn btn-skin" id="activity-comment-button"
                                                    data-participant="{{ participant.user.id }}"
                                                    type="button">Comment
                                            </button>
                                        {% else %}
                                            {{ participant.comment }}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                            </div>
                        {% endif %}


                    </div>

                </div>
            </div>
        </div>
    </section>



    <section class="color-dark members-info">
        <div class="container marker">
            <div class="row vert-offset-top-1 vert-offset-bottom-3">
                <div class="col-md-10 col-md-offset-1">
                    {% if participants %}
                        <h6 class="vert-offset-bottom-05">Members</h6>
                        <div class="row">
                            {% for participant in participants %}
                                <div class="
                                {% if request.user == activity.organizer %} col-md-6 {% else %} col-md-2 {% endif %}
                                participant-card">

                                    <div class="card member bg-white shadow-1">
                                        <div class="row">
                                            <div class="{% if request.user == activity.organizer %} col-md-4 {% else %} col-md-12 {% endif %}
                                                {% if request.user == activity.organizer %} col-md-4 {% else %} col-md-12 {% endif %}
                                                member-content grey-text text-darken-4 text-center">
                                                <div id="member-content-{{ participant.user.id }}">
                                                    {# display star depend on rating  #}
                                                    <i class="yellow-text darken-1 fa
                                                {% if participant.total_rating|default_if_none:0 < 1 %}
                                                fa-star-o
                                                {% elif participant.total_rating|default_if_none:0 < 4.5 %}
                                                fa-star-half-o
                                                {% else %}
                                                fa-star
                                                {% endif %}
                                                fa-2x" aria-hidden="true"
                                                       id="participant_star_{{ participant.user.id }}"></i>
                                                    <h6 class="no-margin"
                                                        id="participant_rating_{{ participant.user.id }}">
                                                        {{ participant.total_rating|default_if_none:"0.0" }}</h6>
                                                    {# end display star #}
                                                </div>
                                                <div id="member-loader-{{ participant.user.id }}"
                                                     class="hidden">
                                                    <div class="spinner member-loader">
                                                        <div class="bounce1 yellow darken-1"></div>
                                                        <div class="bounce2 yellow darken-1"></div>
                                                        <div class="bounce3 yellow darken-1"></div>
                                                    </div>
                                                </div>

                                                {# rating form #}
                                                {% if request.user == activity.organizer %}

                                                    <form class="rating-container participant_rating small clearfix text-center">
                                                        <fieldset class="rating card-rating">
                                                            <input type="radio"
                                                                   id="star5{{ participant.user.id }}"
                                                                   name="rating" value="5"
                                                                    {% if participant.participant_rating == 5 %}
                                                                   checked {% endif %}/>
                                                            <label class="full"
                                                                   for="star5{{ participant.user.id }}"
                                                                   data-star="5"
                                                                   data-participant="{{ participant.user.id }}"
                                                                   title="Awesome - 5 stars"></label>

                                                            <input type="radio"
                                                                   id="star4{{ participant.user.id }}"
                                                                   name="rating" value="4"
                                                                    {% if participant.participant_rating == 4 %}
                                                                   checked {% endif %}/>
                                                            <label class="full"
                                                                   for="star4{{ participant.user.id }}"
                                                                   data-star="4"
                                                                   data-participant="{{ participant.user.id }}"
                                                                   title="Pretty good - 4 stars"></label>

                                                            <input type="radio"
                                                                   id="star3{{ participant.user.id }}"
                                                                   name="rating" value="3"
                                                                    {% if participant.participant_rating == 3 %}
                                                                   checked {% endif %}/>
                                                            <label class="full"
                                                                   for="star3{{ participant.user.id }}"
                                                                   data-star="3"
                                                                   data-participant="{{ participant.user.id }}"
                                                                   title="Meh - 3 stars"></label>

                                                            <input type="radio"
                                                                   id="star2{{ participant.user.id }}"
                                                                   name="rating" value="2"
                                                                    {% if participant.participant_rating == 2 %}
                                                                   checked {% endif %}/>
                                                            <label class="full"
                                                                   for="star2{{ participant.user.id }}"
                                                                   data-star="2"
                                                                   data-participant="{{ participant.user.id }}"
                                                                   title="Kinda bad - 2 stars"></label>

                                                            <input type="radio"
                                                                   id="star1{{ participant.user.id }}"
                                                                   name="rating" value="1"
                                                                    {% if participant.participant_rating == 1 %}
                                                                   checked {% endif %}/>
                                                            <label class="full"
                                                                   for="star1{{ participant.user.id }}"
                                                                   data-star="1"
                                                                   data-participant="{{ participant.user.id }}"
                                                                   title="Sucks big time - 1 star"></label>
                                                        </fieldset>
                                                    </form>
                                                {% endif %}
                                            </div>

                                            {% if request.user == activity.organizer %}
                                                <div class="col-md-8">
                                                    {% if participant.comment_for_participant|default:'' == '' %}
                                                        <div class="form-group">
                                                            <textarea class="form-control" rows="3"
                                                                      id="participant_comment_{{ participant.user.id }}"></textarea>
                                                        </div>
                                                    {% else %}
                                                        {{ participant.comment_for_participant }}
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row">
                                            <div class="{% if request.user == activity.organizer %} col-md-4 {% else %} col-md-12 {% endif %}
                                                member-footer text-center text-uppercase">
                                                <a href="{% url 'cabinet:user_detail' participant.user.id %}">{{ participant.user }}</a>

                                                {% if request.user == activity.organizer %}
                                                    <i class="grey-text text-darken-2 fa fa-times delete-participant clickable"
                                                       aria-hidden="true"
                                                       data-participant="{{ participant.user.id }}"></i>
                                                {% endif %}

                                            </div>

                                            {% if request.user == activity.organizer %}
                                                <div class="col-md-8">
                                                    {% if participant.comment_for_participant|default:'' == '' %}
                                                        <button class="btn btn-skin comment-participant-button"
                                                                data-participant="{{ participant.user.id }}"
                                                                type="button">Comment
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}


                        </div>
                    {% else %}
                        <div class="row text-center">

                            <i class="grey-text fa fa-user fa-4x" aria-hidden="true"></i>
                            <p>Do you want to join?</p>
                            <button type="button" class="btn btn-skin">
                                Join
                            </button>

                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>



    {#    Discussion section like a chat, but it is not chat #}


    <section class="color-dark members-info">
        <div class="container marker">
            <div class="row vert-offset-top-1 vert-offset-bottom-3">
                <div class="col-md-10 col-md-offset-1">
                    <h6 class="vert-offset-bottom-05">Dicussion</h6>
                    {% if comments != 0 %}
                        {% for com in comments %}
                            {% if request.user and request.user == com.user %}
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <span class="small">{{ com.time }}</span>&nbsp;&nbsp;
                                        <a href="">
                                            <span>{{ com.user.first_name }} {{ com.user.last_name }} </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="row vert-offset-top-05">
                                    <div class="col-md-10 col-md-offset-2">
                                        <div class="card bg-white shadow-1 padding-1 message-box-right">
                                            {{ com.message }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <a href="">
                                            <span>{{ com.user.first_name }} {{ com.user.last_name }} </span>
                                        </a>
                                        &nbsp;&nbsp;
                                        <span class="small">{{ com.time }}</span>
                                    </div>
                                </div>
                                <div class="row vert-offset-top-05">
                                    <div class="col-md-10">
                                        <div class="card bg-white shadow-1 padding-1 message-box-left">
                                            {{ com.message }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}



                    <form class="form-horizontal vert-offset-top-1" action="" method="POST" name="comments">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <form action="" method="POST" name="comments">
                                        <input class="form-control" name="UserMessage" id="userMsg"
                                               placeholder="Add your message.."
                                               aria-label="Text input with multiple buttons">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-skin" aria-label="Help"
                                                    name="submitAction" id="submitMsg" value="Send">Send
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
        </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // -------------------------------------------------------
        // LeafletJS Map Functions
        // -------------------------------------------------------
        var layers = {};
        // adds marker and its description (if any) to the specified map
        function addMarker(map, loc) {
            var marker = L.marker([loc.latitude, loc.longitude]);
            // add a marker to the map
            layers.addLayer(marker);
            // add popup for the marker if it has any name
            if (loc.name) {
                var popup = L.popup()
                        .setLatLng([loc.latitude, loc.longitude])
                        .setContent(loc.name);
                marker.bindPopup(popup);
            }
        }

        $(window).on('map:init', function (e) {
            var detail = e.originalEvent ? e.originalEvent.detail : e.detail;
            var map = L;
            $.ajax('/activity/' + {{ activity.id }} +'/locations/')
                    .done(function (locs) {
                        if (locs.length == 0)
                            return;
                        loc = locs[0].location;
                        var south = 90, north = -90, east = -180, west = 180;
                        for (i = 0; i < locs.length; ++i) {
                            loc = locs[i].location;
                            var marker = map.marker([loc.latitude, loc.longitude]).addTo(detail.map);
                            var popup = L.popup()
                                    .setLatLng([loc.latitude, loc.longitude])
                                    .setContent(loc.name);
                            marker.bindPopup(popup);
                            if (south > loc.latitude)
                                south = loc.latitude;
                            if (north < loc.latitude)
                                north = loc.latitude;
                            if (east < loc.longitude)
                                east = loc.longitude;
                            if (west > loc.longitude)
                                west = loc.longitude;
                        }
                        var southWest = map.latLng(south, west);
                        var northEast = map.latLng(north, east);
                        detail.map.fitBounds(map.latLngBounds(southWest, northEast));
                    });
        });
    </script>

    <script>
        (function () {

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });


            function progressParticipant(status, participant_id) {
                if (status) {
                    $("#member-content-" + participant_id).addClass("hidden");
                    $("#member-loader-" + participant_id).removeClass("hidden");
                } else {
                    $("#member-content-" + participant_id).removeClass("hidden");
                    $("#member-loader-" + participant_id).addClass("hidden");
                }
            }

            var activityId = {{ activity.id }};

            $('.participant_rating').on('click', function (e) {
                var target = $(e.target);
                if (target.data("star") && target.data("participant")) {
                    var starValue = target.data("star");
                    var participantId = target.data("participant");
                    changeRating(activityId, participantId, starValue)
                }
            });

            function changeRating(activity_id, participant_id, new_rating) {
                progressParticipant(true, participant_id);

                $.ajax('/activity/' + activity_id + '/participant/' + participant_id + '/rating/change/' + new_rating)
                        .done(function (result) {
                            //result is aggregate rating
                            $("#participant_rating_" + participant_id).text(result);
                            var participantStar = $("#participant_star_" + participant_id);
                            participantStar.removeClass("fa-star-o");
                            participantStar.removeClass("fa-star-half-o");
                            participantStar.removeClass("fa-star");

                            if (result < 1) participantStar.addClass("fa-star-o");
                            else if (result < 4.5) participantStar.addClass("fa-star-half-o");
                            else participantStar.addClass("fa-star");

                            progressParticipant(false, participant_id);
                        });
            }


            $('.activity-rating').on('click', function (e) {
                var target = $(e.target);
                if (target.data("star") && target.data("participant")) {
                    var starValue = target.data("star");
                    var participantId = target.data("participant");
                    changeActivityRating(activityId, participantId, starValue)
                }
            });

            function changeActivityRating(activity_id, participant_id, new_rating) {
                $.ajax('/activity/' + activity_id + '/rating/change/' + new_rating)
                        .done(function (result) {
                        });
            }

            $('.comment-participant').on('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                return false;
            });
            $('.comment-participant-button').on('click', function (e) {
                var target = $(e.target);

                if (target.data("participant")) {
                    var participantId = target.data("participant");
                    progressParticipant(true, participantId);
                    var inputComment = $("#participant_comment_" + target.data("participant"));

                    if (!!inputComment && inputComment.val() != "") {

                        var comment = inputComment.val();
                        addCommentForParticipant(activityId, participantId, comment, function (result) {
                            inputComment.closest(".form-group").replaceWith(comment);
                            target.remove();
                            progressParticipant(false, participantId);
                        });
                    }
                }

                e.preventDefault();
                e.stopPropagation();
                return false;
            });

            function addCommentForParticipant(activityId, participantId, comment, callback) {
                $.ajax({
                    type: 'POST',
                    url: '/activity/' + activityId + '/participant/' + participantId + '/comment/add/',
                    data: {
                        comment: comment
                    }
                }).done(function (result) {
                    callback(result);
                });
            }

            function kickParticipant(activityId, participantId, callback) {
                $.ajax({
                    type: 'GET',
                    url: '/activity/' + activityId + '/participant/' + participantId + '/kick/'
                }).done(function (result) {
                    callback(result);
                });
            }

            function deleteParticipant() {
                $(".delete-participant").bind("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();


                    var target = $(e.target);
                    if (!target.data("participant")) return;

                    var participantId = target.data("participant");
                    var participantCard = $(e.target).closest(".participant-card");

                    progressParticipant(true, participantId);
                    kickParticipant(activityId, participantId, function (e) {

                        if (e == "success") {
                            participantCard.remove();
                        } else {
                            console.log(e);
                        }
                        progressParticipant(false, participantId);
                    });

                    return false;
                });
            }

            deleteParticipant();

            $('#activity-comment-button').on('click', function (e) {
                var target = $(e.target);

                if (target.data("participant")) {
                    var participantId = target.data("participant");
                    var inputComment = $("#activity-comment");
                    if (!!inputComment && inputComment.val() != "") {
                        var comment = inputComment.val();
                        addCommentForActivity(activityId, comment, function (result) {
                            inputComment.closest(".form-group").replaceWith(comment);
                            target.remove();
                        });
                    }
                }

                e.preventDefault();
                e.stopPropagation();
                return false;
            });

            function addCommentForActivity(activityId, comment, callback) {
                $.ajax({
                    type: 'POST',
                    url: '/activity/' + activityId + '/comment/add/',
                    data: {
                        comment: comment
                    }
                }).done(function (result) {
                    callback(result);
                });
            }


        })();
    </script>
{% endblock %}
