{% extends 'base.html' %}

{% block content %}

    <!-- Section: header -->
    <section class="color-dark bg-gray">
        <div class="container">
            <div class="row simple-box">
                <div class="section-heading">
                    <h2 class="text-center h-bold">{{ form.header }}</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: header -->

    {% if form.activities %}
        <section class="color-dark bg-gray">
            <div id="activities">
                {# Output information about each activity in the list #}
                {% for activity in form.activities %}
                    <div class="container">
                        <div class="row">
                            <div class="animated">
                                <div id="activity{{ activity.id }}" class="{% if activity.status == 'SC' %}simple-box
                                    {% elif activity.status == 'CN' %}canceled-box
                                    {% elif activity.status == 'PF' %}performed-box{% endif %}">
                                    <div class="service-desc">
                                        <div class="row">
                                            <div class="text-center col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <h5 class="row">{{ activity.name }}</h5>
                                                <div class="row">
                                                    {% if activity.status == 'PF' %}
                                                        <fieldset class="rating">
                                                            <input type="radio" id="star5" name="rating" value="5"/>
                                                            <label class="full" for="star5"
                                                                   onclick="changeRating({{ activity.id }}, 5)"
                                                                   title="Awesome - 5 stars"></label>
                                                            <input type="radio" id="star4" name="rating" value="4"/>
                                                            <label class="full" for="star4"
                                                                   title="Pretty good - 4 stars"></label>
                                                            <input type="radio" id="star3" name="rating" value="3"/>
                                                            <label class="full" for="star3"
                                                                   title="Meh - 3 stars"></label>
                                                            <input type="radio" id="star2" name="rating" value="2"/>
                                                            <label class="full" for="star2"
                                                                   title="Kinda bad - 2 stars"></label>
                                                            <input type="radio" id="star1" name="rating" value="1"/>
                                                            <label class="full" for="star1"
                                                                   title="Sucks big time - 1 star"></label>
                                                        </fieldset>
                                                    {% else %}
                                                        <p>{{ activity.get_status_display }}
                                                    {% endif %}
                                                </div>

                                                </p>
                                                <div class="row">
                                                    <a href="#" class="btn btn-skin">Details</a>
                                                    {% if form.can_remove %}
                                                        {% if activity.status == 'SC' %}
                                                            <button type="button" class="perform btn btn-skin"
                                                                    onclick="changeStatus({{ activity.id }}, 'PF')">
                                                                Perform
                                                            </button>
                                                            <button type="button" class="btn btn-skin"
                                                                    onclick="changeStatus({{ activity.id }}, 'CN')">
                                                                Cancel
                                                            </button>
                                                        {% elif activity.status == 'CN' %}
                                                            <button type="button" class="btn btn-skin"
                                                                    onclick="changeStatus({{ activity.id }}, 'SC')">
                                                                Restore
                                                            </button>
                                                            <button type="button" class="btn btn-skin"
                                                                    onclick="deleteActivity({{ activity.id }})">
                                                                Delete
                                                            </button>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if form.can_join and activity.status != 'PF' %}
                                                        <button type="button" class="btn btn-skin"
                                                                onclick="dismissActivity({{ form.user.id }}, {{ activity.id }})">
                                                            Dismiss
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-6">
                                                <div class="row col-xs-12">
                                                    <small class="start-time">Start time:</small>
                                                    <p>{{ activity.start_time|date:"Y-m-d   H:i" }}</p>
                                                </div>
                                                <div class="row col-xs-12">
                                                    <small>End time:</small>
                                                    <p>{{ activity.end_time|date:"Y-m-d   H:i" }}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <small>Category:</small>
                                                        <br>
                                                        <p>{{ activity.activity_category }}</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <small>Type:</small>
                                                        <br>
                                                        <p>{{ activity.activity_type }}</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <small>Participants limit:</small>
                                                        <br>
                                                        <p>{{ activity.participants_limit }}</p>
                                                    </div>
                                                </div>
                                                <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <small>Description:</small>
                                                    <p>{{ activity.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% else %}

        <section class="color-dark bg-gray">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="simple-box text-center">
                            <h5>
                                No activities yet!
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}

{% block scripts %}
    <script>
        function deleteActivity(activity_id) {
            $.ajax('/activity/delete?activity_id=' + activity_id)
                    .done(function () {
                        // TODO: remove element from the DOM. Do not reload the whole page!
                        location.reload();
                    });
        }

        function dismissActivity(user_id, activity_id) {
            $.ajax('/activity/dismiss?user_id=' + user_id + '&activity_id=' + activity_id)
                    .done(function () {
                        // TODO: remove the element from the DOM. Do not reload the whole page!
                        location.reload();
                    });
        }

        function changeStatus(activity_id, new_status) {
            $.ajax('/activity/status/change?activity_id=' + activity_id + '&new_status=' + new_status)
                    .done(function () {
                        location.reload();
                        // TODO: complete ajax
                        {#                        var activity = $('#activity' + activity_id);#}
                        {#                        activity.removeClass('simple-box');#}
                        {#                        activity.removeClass('canceled-box');#}
                        {#                        activity.removeClass('performed-box');#}
                        {#                        activity.find('perform').hide();#}
                        {#                        if (new_status == 'SC')#}
                        {#                            activity.addClass('simple-box');#}
                        {#                        else if (new_status == 'CN')#}
                        {#                            activity.addClass('canceled-box');#}
                        {#                        else if (new_status == 'PF')#}
                        {#                            activity.addClass('performed-box');#}
                    });
        }

        function changeRating(activity_id, new_rating) {
            $.ajax('/activity/rating?activity_id=' + activity_id + '&new_rating=' + new_rating)
                    .done(function () {
{#                        alert('ok')#}
                    });
        }
    </script>
{% endblock %}
