<!DOCTYPE html>
<html>
	<head>
	<title>Activity-Chat</title>
	Welcome, {{currentUser.username}}, to activity chat!
	</head>
<body>
	<div>
		Comments:
	</div>

	{% if comments %}
	<ul>
		{% for com in comments %}
		<li>User Name:  <div>{{com.user}}</div></li>
		<li>Activity: <div>{{com.activity}}</div></li>
		<li>Comments: {{com.message}}</li>
		<li>Time: {{com.time}}</li>

		<hr>
		{% endfor %}
	</ul>
	{% endif %}

	<div>Write your own comment here!</div>
	<form name = "comments" action = "" method = "POST">
		{% csrf_token %}
		<input type="text" name="UserMessage" id = "userMsg">
		<input type="submit" name="submitAction" id = "submitMsg" value = "Send">
	</form>
</body>
</html>