{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Activity Planner</title>

    <!-- css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/nivo-lightbox.css" %}" rel="stylesheet"/>
    <link href="{% static "css/nivo-lightbox-theme/default/default.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/animations.css" %}" rel="stylesheet"/>
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "color/default.css" %}" rel="stylesheet">

    <link href="{% static "css/bootstrap-vert-margin-shim.css" %}" rel="stylesheet">    

    <!-- css typeahead widget -->
    <link href="{% static 'css/typeahead/typeahead.css' %}" rel="stylesheet">

    <!-- css amaran notifcation -->
    <link href="{% static 'css/amaran/amaran.min.css' %}" rel="stylesheet">

    {% block head %}

    {% endblock %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

{% block header %}
{% endblock %}

<!-- Navigation -->
<div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="site-logo">
                        <a href="/" class="brand">APlanner</a>
                    </div>
                </div>


                <div class="col-md-10">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    {% block navbar %}{% endblock %}
                    {% include "navigation.html" %}


                </div>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</div>
<!-- /Navigation -->


<div class="page-wrap">
    {% block content %}
    {% endblock %}
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="footer-menu">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
            <div class="col-md-6 text-right">
                foooter
            </div>
        </div>
    </div>
</footer>

<!-- Core JavaScript Files -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static "js/jquery.sticky.js" %}"></script>
<script src="{% static "js/jquery.easing.min.js" %}"></script>
<script src="{% static "js/jquery.scrollTo.js" %}"></script>
<script src="{% static "js/jquery.appear.js" %}"></script>
<script src="{% static "js/stellar.js" %}"></script>
<script src="{% static "js/nivo-lightbox.min.js" %}"></script>

<script src="{% static "js/custom.js" %}"></script>
<script src="{% static "js/css3-animate-it.js" %}"></script>

<script src="{% static "js/typeahead/typeahead.bundle.min.js" %}"></script>
<script src="{% static "js/amaran/jquery.amaran.min.js" %}"></script>

<!-- custom page scripts. widgets and etc -->
{% block scripts %}
{% endblock %}


<script type="text/javascript">
  var URL_NYT_GET_NEW = "{% url "nyt:json_get" %}";
  var URL_NYT_MARK_READ = "{% url "nyt:json_mark_read_base" %}";
  var URL_NYT_GOTO = "{% url "nyt:goto_base" %}";

  var nyt_oldest_id = 0;
  var nyt_latest_id = 0;
  var nyt_update_timeout = 30000;
  var nyt_update_timeout_adjust = 1.2; // factor to adjust between each timeout.

  
  function ajaxError(){}

  $.ajaxSetup({
    timeout: 7000,
    cache: false,
    error: function(e, xhr, settings, exception) {
        ajaxError();
    }
  });

  function jsonWrapper(url, callback) {
    $.getJSON(url, function(data) {
      if (data == null) {
        ajaxError();
      } else {
        callback(data);
      }
    });
  }

  function nyt_update() {
    jsonWrapper(URL_NYT_GET_NEW+nyt_latest_id+'/', function (data) {
      if (data.success) {
          if(data.objects.length > 0) {
              $.amaran({
                  'message': data.objects[0]["message"],
                  'position': 'bottom right'
              });
          }
      }
    });
  }

  // Mark all <li> items read and tell the server.
  function nyt_mark_read() {
    $('.notification-li').remove();
    var url = URL_NYT_MARK_READ+nyt_latest_id+'/'+nyt_oldest_id+'/';
    nyt_oldest_id = 0;
    nyt_latest_id = 0;
    jsonWrapper(url, function (data) {
      if (data.success) {
        $('.notifications-empty').show();
        nyt_update();
      }
    });
  }

  // Call this function to use traditional polling
  function update_timeout() {
    setTimeout("nyt_update()", nyt_update_timeout);
    setTimeout("update_timeout()", nyt_update_timeout);
    nyt_update_timeout *= nyt_update_timeout_adjust;
  }

  // Don't check immediately... some users just click through pages very quickly.
  //setTimeout("nyt_update()", 2000);

  var socket = new WebSocket('ws://' + window.location.host + "/nyt/?session_key={{ request.session.session_key }}");

  $(document).ready(function () {
    // update_timeout();
    socket.onopen = function() {
        //console.log("Sending hello world");
        //socket.send("hello world");
    }
    socket.onmessage = function(e) {
      console.log("Got some message, so going to update");
      nyt_update();
    }

     if (socket.readyState == WebSocket.OPEN) socket.onopen();
  });

</script>

</body>
</html>