{% extends 'base.html' %}

{% block head %}
<style>
.activity-card {
    background: #fff;
    border-bottom: 2px solid #f7f7f7;
}

.activity-card:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: -20px;
}

.card {
    display: block;
}

.card-block {
    padding: 1.25rem;
    
}

.card-title {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #111;

    margin-bottom: 0.2em;
}

.card-text {
}

.img-fluid-width {
    display: block;
    max-width: 100%;
    height: auto;
}
</style>

{% endblock %}

{% block header %}
    <section class="hero" id="intro">
            <div class="container">
              <div class="row">
               
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
                    <div class="animatedParent">
                        <h1 class="animated fadeInDown">Find your actitivity</h1>
                    </div>
               </div>
              </div>
              <div class="row">
               
              </div>
            </div>
    </section>
{% endblock %}


{% block navbar %}
  <form class="navbar-form navbar-left" action="" method="GET" id="search_form">
    <div class="form-group">
       <input type="text" 
              id="search_input" 
              class="typeahead form-control" 
              name="search"
              {% if request.GET.search and request.GET.search != ''  %}  
              value = "{{request.GET.search}}"
              {% endif %} 
              placeholder="Start search suitable activity.." />
        <input type="hidden" id="search_type" name="t" />
        <input type="hidden" id="search_value" name="v" />
    </div>
    {% if request.GET.search and request.GET.search != ''  %}  
        <a href="{% url 'activity:index' %}" class="btn btn-skin">X</a>
    {% endif %} 
    <button type="submit" class="hidden">Submit</button>
  </form>
{% endblock %}



{% block content %}

    {% if activities %}
    <section id="service" class="search-result color-dark bg-gray">
        <div class="text-center">
        <div class="container">
            

            {% for activity in activities %}
            {% cycle '<div class="row animatedParent marginbot-20">' '' '' %}



            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="animated">
                <div class="activity-card card">
                    <!--<img src="https://unsplash.it/400/240/?random={{activity.id}}" class="img-fluid-width">-->
                    <div class="card-block">
                        <div class="card-title">{{activity.name}}</div>
                        <div class="card-text">
                            <p>{{activity.description}}</p>
                        </div>
                        <a href="#" class="btn btn-skin">Join</a>
                    </div>
                </div>
                </div>
            </div>

            {% cycle '' '' '</div>' %}
            
            {% endfor %}

            


        </div>
        </div>
    </section>

    {% endif %}    
  
{% endblock %}


{% block scripts %}

<script type="text/javascript">
    (function() {

    // Instantiate the Bloodhound suggestion engine
    var types = new Bloodhound({
        datumTokenizer: function (datum) {
            return Bloodhound.tokenizers.whitespace(datum.value);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: '/activity/search_suggestions/',
            filter: function (result) {
                // Map the remote source JSON array to a JavaScript object array
                return $.map(result.data, function (item) {
                    return {
                        value: item.name,
                        id: item.id,
                        type: result.types
                    };
                });
            },
            replace: function (url, query) {
                return url + '?search=' + query;

                console.log(query);
            }
        }
    });

    // Initialize the Bloodhound suggestion engine
    types.initialize();

    var submit = function(filter_type, filter_value) {
        $('#search_type').val(filter_type);
        $('#search_value').val(filter_value);

        $('#search_form').submit();
    }

    // Instantiate the Typeahead UI
    $('#search_input').typeahead(null, {
        // Use 'value' as the displayKey because the filter function 
        // returns suggestions in a javascript object with a variable called 'value'
        displayKey: 'value',
        source: types.ttAdapter()
    }).bind('typeahead:select', function(ev, suggestion) {
        submit(suggestion.type, suggestion.id);
    }).keypress(function (e) {
        if (e.which == 13) {
            var selectedValue = $('#search_input').val();
            submit('m', selectedValue);
            return true;
        }
    });




    })();
  </script>
{% endblock %}